# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
pyvenv.cfg
.env

# Django
*.log
logs/
db.sqlite3
media/
staticfiles/

# Celery
celerybeat-schedule

# Linters and formatters
.ruff_cache/
.mypy_cache/
.dmypy.json

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store