.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
CACHEDIR.TAG
venv/
pyvenv.cfg
.env
*.log
logs/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
dist/
build/